1.	Write a Python program to convert kilometers to miles?

In [1]:
km=10
miles=0.621371
print('The kilometers is :',km)
miles=km*miles
print('The kilometers are convert into miles  is :',miles)

The kilometers is : 10
The kilometers are convert into miles  is : 6.21371

2.	Write a Python program to convert Celsius to Fahrenheit?

In [3]:
Celsius=31.232
print('Celsius :',Celsius)
Fahrenheit = (Celsius * 9/5) + 32
print('Fahrenheit :',Fahrenheit)

Celsius : 31.232
Fahrenheit : 88.21759999999999

3.	Write a Python program to display calendar?

In [4]:
import calendar
yy = 2017
mm = 11
print(calendar.month(yy, mm))

   November 2017
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [5]:
import calendar
yy = 2017
print(calendar.calendar(yy))

                                  2017

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

4.	Write a Python program to solve quadratic equation?

In [8]:
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are',sol1, 'and',sol2)

The solution are (-3+0j) and (-2+0j)

In [9]:
5.	Write a Python program to swap two variables without temp variable?

Object `variable` not found.

5.	Write a Python program to swap two variables without temp variable

In [10]:
a=10
b=20
print("The value of 'a' before swaping a :",a)
print("The value of 'b' before swaping a :",b)

a,b=b,a

print("The value of 'a' after  swaping a :",a)
print("The value of 'b' after  swaping a :",b)

The value of 'a' before swaping a : 10
The value of 'b' before swaping a : 20
The value of 'a' after  swaping a : 20
The value of 'b' after  swaping a : 10